/* styles go here */

.form-fild {
  display: block;
  margin-bottom: 10px;
}

.form-fieldset {
  margin-bottom: 20px;
}

.form-fieldset:first-child {
  margin-top: 0;
}

.form-fieldset label:last-of-type {
  margin-bottom: 0;
}
